.card1:hover {
    background-color: aliceblue;
    box-shadow: -1px 3px 35px 0px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: -1px 3px 35px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -1px 3px 35px 0px rgba(0, 0, 0, 0.29);
}

.pills {
    background-color: rgb(227, 237, 243);
}

.banner1 {
    height: 60%;
    width: 100%;
}

.banner1 img {
    width: 100%;
}