        /* cuurency */
        .currency:before {
            content: '₱';
        }

        /* currency */
        /* gallery */
        /* disable arrows input type number */
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }

        .image-container {
            position: relative;
            overflow: hidden;
        }

        img {
            transition: 0.3s ease-in-out;
        }

        .image-container:hover img {
            transform: scale(1.2);
        }

        /*  */
        .gal img:hover {
            transform: scale(1.02);
        }

        input[type="text"] {
            margin-top: 10px;
        }

        /* divider */
        .parent-container {
            display: flex;
            flex-direction: row;
            /* 100% of the viewport width */
        }

        .child-container {
            flex: 1;
            /* to make each child container take equal space */

        }

        .image-grid {
            --gap: 14px;
            --num-cols: 4;
            --row-height: 200px;

            box-sizing: border-box;
            padding: var(--gap);

            display: grid;
            grid-template-columns: repeat(var(--num-cols), 1fr);
            grid-auto-rows: var(--row-height);
            gap: var(--gap);
        }

        .image-grid>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .image-grid-col-2 {
            grid-column: span 3;
        }

        .image-grid-row-2 {
            grid-row: span 2;
        }

        /* Anything udner 1024px */
        @media screen and (max-width: 600px) {
            .image-grid {
                --num-cols: 1;
                --row-height: 200px;
            }

            .centered {
                position: absolute;
                font-size: 10px;
            }
        }

        .centered {
            position: absolute;
            font-weight: bold;
            font-size: 30px;
            text-decoration: underline;
            color: white;
            top: 30%;
            left: 86%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }

        .seventh {
            filter: brightness(0.25);

        }

        p {
            font-family: montserrat;
            text-align: justify;
            font-size: 18px;
        }

        .txt {
            font-family: montserrat;

        }

        .title {
            letter-spacing: 1px;
            font-size: 30px;
        }

        .scrl {
            scroll-behavior: smooth;
        }

        .animate__animated {
            animation-duration: 1s;
            animation-fill-mode: both;
        }

        .parent {
            display: flex;
            justify-content: center;
        }

        html {
            scroll-behavior: smooth;
        }

        hr {
            border: 2px solid #30bc6c;
            display: flex;
        }

        .qrsample {
            height: 100px;
            width: 100px;
        }

        */ input[type="text"].disabled {
            pointer-events: none;
            opacity: 0.5;
        }

        input[type="checkbox"]:checked~input[type="text"].disabled {
            pointer-events: auto;
            opacity: 1;
        }
        /* submit btn */
        .btn_submit{
            width: 100%;
            cursor: not-allowed;
        }
        /* gcash image */
        .gcash{
            width: 90%;
            height: 60px;
        }